body{
	font-family : arial;
}

.canvas{
	 width 						: 1200px;
	 margin 					: 0 auto;
	 border-top-right-radius 	: 50px;
	 border-top-left-radius 	: 50px;
}

.header{
	margin-bottom 	: 0 #00030e;
	height 			: 120px;
}

.namebar{
	margin-top 			: 0 auto;
	background-image 	: url("desain/namebar.jpg");
	line-height 		: 35px;
	text-align 			: right;
	padding-right 		: 10px;
	border-bottom 		: 5px solid #7192ff;
}

a{
	text-decoration : none;
}

.namebar a{
		color : #00030e;
}

.menu{
	background-color 	: #E6E6E6;
	line-height 		: 40px;
}

.menu ul{
	list-style 	: none;
	margin 		: 0;
	padding 	:0;
}

.menu ul li{
	display : inline-block;
	padding : 0 10px;
}

.menu ul li a{
	text-decoration 	: none;
	color 				: #00030e;
	font-size 			: 14px;
}

li.kanan{
	float : right;
}

.clear{
	float : clear;
}

li:hover{
	background : #CCCCCC;
}

a:link.tombolLink, a:visited.tombolLink{
	background-color 	: #00030e;
    color 				: white;
    padding 			: 10px 10px;
    text-align 			: center;
    text-decoration 	: none;
    display 			: inline-block;
    border-radius 		: 10px;
    margin 				: 5px;
}

a:hover.tombolLink, a:active.tombolLink {
    background-color : #0033ff;
}

.isi {
	font-size : 14px;
}


.isi table{
	width 				: 50%;
	margin 				: 20px auto;
	border-collapse 	: collapse;
}

.isi table td{
	padding : 5px;
}


input.text{
	width 				: 350px;
	background-color 	: #E6E6E6;
	border 				: 0;
	padding 			: 5px 10px;
	border-radius 		: 10px;
}

.isi textarea{
	width :100%;
}

td.judul{
	width : 40%;
}

input.tombol{
	width : 75px;
}

.footer{
	background 	: #00030e;
	font-size 	: 11px;
	color 		: #fff;
	padding 	: 5px;
}

.footer table{
	width : 100%;
}

.footer a{
	color : #fff;
}

td.maker{
	text-align : right;
}